.container {
  position: relative;
  z-index: 1;
}

.btn {
  font-family: var(--pretendard);
  text-align: center;
  font-size: 1.6rem;
  white-space: nowrap;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: capitalize;
  flex: 1;
  gap: 2rem;
  border-radius: 50px;
  padding: 15px 30px;
  position: relative;
  z-index: 1;
  width: 100%;
  transition: all 0.3s ease-in;
}

.white {
  color: var(--black);
  background-color: var(--white);
}

.white:hover {
  background-color: var(--umber);
  color: var(--white);
}

.whiteOutline {
  border: 2px solid var(--white);
  color: var(--white);
}

.blackOutline {
  border: 2px solid var(--black);
  color: var(--black);
}
