.content {
  background-color: var(--gray);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 10rem;
}

.heading {
  text-align: center;
  width: 50%;
}

@media screen and (max-width: 968px) {
  .heading {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .content {
    padding: 10rem 5rem;
  }

  .heading {
    width: 100%;
  }
}
