.container {
  margin-bottom: 8rem;
  position: relative;
}

.content {
  position: relative;
  width: 100%;
  height: 550px;
  margin-top: 1rem;
}

.video {
  width: 100%;
  height: 550px;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.imgOverlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: 2;
}

.contentChildren {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  padding-top: 5rem;
  z-index: 3;
  height: 100%;
}

.heading,
.heading2 {
  color: var(--cream);
  z-index: 3;
  text-align: center;
  color: var(--white);
}

.heading2 {
  font-family: var(--roboto);
  margin-bottom: 0.2rem;
}

.playPauseButton {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: var(--white);
  border: none;
  border-radius: 50%;
  padding: 1.5rem;
  z-index: 4;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.playPauseButton svg {
  fill: var(--white);
}

@media screen and (max-width: 568px) {
  .contentChildren {
    gap: 1rem;
  }
}
