.content {
  display: grid;
  /* grid-template-columns: 1fr 5fr; */
  grid-gap: 5rem;
  margin-top: 3rem;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}


.heading {
    text-align: center;

}