.parent {
  height: 75vh;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;
  font-size: 0;
}

.imgOverlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  border: 1px solid var(--blackiv);
  z-index: 1;
}

.img {
  position: absolute;
  object-fit: cover;
}

.navContainer {
  position: absolute;
  top: 30px;
  width: 93%;
  z-index: 99999;
}

.content {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -50%);
  padding: 8rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 3rem;
  z-index: 2;
  max-width: 1550px;
}

.actualContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

.heading {
  color: var(--white);
  /* width: 50%; */
}

.btnContainer {
  margin-top: 1rem;
}

@media screen and (max-width: 900px) {
  .content {
    transform: translate(-50%, -50%);
  }

  .actualContent {
    align-items: center;
    justify-content: center;
  }

  .heading {
    text-align: center;
  }
}

@media screen and (max-width: 568px) {
  .parent {
    height: 100vh;
  }

  .content {
    padding: 3rem;
  }

  .btnContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 60%;
  }
}
