.parent {
  height: 75vh;
}

.container {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  height: 100%;
  padding: 3rem;
  /* font-size: 0; */
}

.imgOverlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 75vh;
  border: 1px solid var(--blackiv);
  z-index: 1;
}

.img {
  position: absolute;
  object-fit: cover;
}

.navContainer {
  position: absolute;
  top: -80px;
  width: 100%;
  z-index: 10;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.actualContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  backdrop-filter: blur(40px);
  background-size: 10px 10px;
  padding: 3rem;
  border-radius: 20px;
}

.heading {
  color: var(--white);
}

.btnContainer {
  margin-top: 1rem;
}

@media screen and (max-width: 870px) {
  .navContainer {
    top: -36px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    align-items: center;
    justify-content: center;
  }

  .actualContent {
    align-items: center;
    justify-content: center;
  }

  .heading {
    text-align: center;
  }
}

@media screen and (max-width: 568px) {
  .parent,
  .imgOverlay {
    height: 100vh;
  }

  .content {
    padding: 3rem;
  }

  .btnContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 60%;
  }
}
