.main {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4rem;
  padding: 0rem;
  margin-top: 15rem;
}

.aside {
  position: sticky;
  top: 2.5rem;
}

.filterContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.shopTitle {
  font-family: var(--pretendard);
  font-size: 2.4rem;
  margin-bottom: 3rem;
}

.collectionsList {
  list-style: none;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.collectionNameBox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  border-bottom: 1px solid lightgray;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* Hide the native checkbox */
.checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

/* Style the custom checkbox circle */
.customCheckbox {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: gray;
  display: inline-block;
  position: relative;
  margin-right: 8px;
  cursor: pointer;
}

/* Show a smaller white circle inside when checked */
.checkbox:checked + .customCheckbox::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px; /* Adjust size for inner circle */
  height: 10px;
  border-radius: 50%;
  background-color: white;
}

.collectionName {
  font-size: 1.8rem;
  font-family: var(--pretendard);
}

.priceRangeBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  margin-bottom: 5rem;
}

.priceRangeTitle {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.priceRange {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}

.priceInput {
  border: 1px solid darkgray;
  padding: 1rem;
  border-radius: 6px;
}

.goBtn,
.clearBtn {
  background-color: darkgray;
  width: 100%;
  color: var(--white);
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.goBtn {
  margin-top: 1rem;
}

.clearBtn {
  background-color: var(--black);
}
