.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.imgContainer {
  width: 100%;
  height: 600px;
}

.img,
.imgii {
  object-fit: cover;
  background-color: var(--gray);
  border-radius: 15px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.imgii {
  border-radius: 10px;
}

.mediaPreviewContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 2rem;
}

@media screen and (max-width: 1295px) {
  .container {
    flex-direction: column;
  }

  .mediaPreviewContainer {
    flex-direction: row;
  }
}
