.header {
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right {
  display: flex;
}

@media screen and (max-width: 768px) {
  .right {
    flex-direction: row-reverse;
    gap: 3rem;
  }
}

@media screen and (max-width: 568px) {
  .header {
    padding-right: 5px;
    padding-left: 5px;
  }
}
